<h1 id="tableLabel">Latest Stories from Hacker News</h1>

<p *ngIf="!stories"><em>Fetching the latest...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="stories">
    <thead>
        <tr>
            <th>Title</th>
            <th>By</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let story of stories">
            <td>
                <a *ngIf="story.url; else elseBlock" href="{{ story.url }}">
                    {{ story.title }}
                </a>
                <ng-template #elseBlock>{{ story.title }}</ng-template>
            </td>
            <td>
                {{ story.by }}
            </td>
            <td>
                <a *ngIf="story.url" href="{{ story.url }}">
                    {{ story.url }}
                </a>
            </td>
        </tr>
    </tbody>
</table>
